<div class="header">
  <div class="header-content">
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <button type="submit" onclick="alert('This feature is not yet available.');">Search</button>
    </div>
    <div class="header-title">
      <img src="/common/logo.png">
    </div>
    <div class="h-profile-info">
      <img src="/common/avatar.jpg" alt="Profile Avatar">
      <div class="h-profile-name">
        <a href="view_profile">View Profile</a>
      </div>
    </div>
  </div>
</div>