<div class="container">
    <img src="/common/logo2.png" alt="Logo" class="logo">
    <div class="change-password-form">
        <h2>Change Password</h2>
        <form action="/change_password" method="post" name="changePasswordForm" onsubmit="return validateForm()">
            <input type="password" name="oldPassword" placeholder="Old Password" required>
            <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password" required>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
