<div class="container">
    <img src="/common/logo2.png" alt="Logo" class="logo">
    <div class="change-password-form">
        <h2>Change Password</h2>
        <form name="changePasswordForm" onsubmit="return validateForm();">
            <input type="password" name="oldPassword" placeholder="Old Password">
            <input type="password" name="newPassword" placeholder="New Password">
            <input type="password" name="confirmNewPassword" placeholder="Confirm New Password">
            <!-- <button type="submit">Save Changes</button> -->
        </form>
        <button onclick="alert('This feature is not yet available.'); window.location.href='/view_profile';">Save Changes</button>
    </div>
</div>