<div class="background-image"></div>
<div class="login-container">
    <h2>Login Page</h2>
    <form action="submit_login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    <a href="register">No account? Register here</a>
</div>
<img src="\common\logo2.png" class="logo" alt="Logo">