<div class="container">
    <img src="/common/logo2.png" alt="Logo" class="logo">
    <div class="register-form">
        <h2>Review a Restaurant now!</h2>
        <form name="registration" action="submit_registration" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Your Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">

            <input type="submit" value="Register">
        </form>
    </div>
</div>